# =========================
# Build & Tool Artifacts
# =========================
*.log
*.jou
*.str
*.wdb
*.vcd
*.csv~

# Vivado
.vivado/
.vivado_ip/
*.runs/
*.cache/
*.hw/
*.sim/
*.ip_user_files/
*.xpr
*.xsa

# PYNQ / Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
*~
